In [1]:
import pandas as pd

In [13]:
imdb_movies = 'Resources/IMDb movies.csv'

In [14]:
movies_df = pd.read_csv(imdb_movies)

C:\Users\sun_c\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

movies_df.head()

In [15]:
movies_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [16]:
movies = movies_df.dropna(how="any")

In [17]:
movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
506,tt0017136,Metropolis,Metropolis,1927,1928-10-01,"Drama, Sci-Fi",153,Germany,German,Fritz Lang,...,"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",In a futuristic city sharply divided between t...,8.3,156076,DEM 6000000,$ 1236166,$ 1349711,98.0,495.0,208.0
1048,tt0021749,Luci della città,City Lights,1931,1931-04-02,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,...,"Virginia Cherrill, Florence Lee, Harry Myers, ...","With the aid of a wealthy erratic tippler, a d...",8.5,162668,$ 1500000,$ 19181,$ 46008,99.0,295.0,122.0
2454,tt0027977,Tempi moderni,Modern Times,1936,1937-03-12,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,...,"Charles Chaplin, Paulette Goddard, Henry Bergm...",The Tramp struggles to live in modern industri...,8.5,211250,$ 1500000,$ 163577,$ 457688,96.0,307.0,115.0
2795,tt0029453,Il bandito della Casbah,Pépé le Moko,1937,1937-10-22,"Crime, Drama, Romance",94,France,"French, Arabic",Julien Duvivier,...,"Jean Gabin, Gabriel Gabrio, Saturnin Fabre, Fe...",A wanted gangster is both king and prisoner of...,7.7,6180,$ 60000,$ 155895,$ 155895,98.0,46.0,55.0
2827,tt0029583,Biancaneve e i sette nani,Snow White and the Seven Dwarfs,1937,1938-11-30,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand",...,"Roy Atwell, Stuart Buchanan, Adriana Caselotti...",Exiled into the dangerous forest by her wicked...,7.6,177157,$ 1499000,$ 184925486,$ 184925486,95.0,260.0,173.0

In [18]:
movies.dtypes

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [19]:
movies["year"] = pd.to_numeric(movies["year"])

C:\Users\sun_c\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
movies = movies.loc[movies["year"] >= 1970]

In [21]:
movies

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
4334,tt0035423,Kate & Leopold,Kate & Leopold,2001,2002-03-01,"Comedy, Fantasy, Romance",118,USA,"English, French",James Mangold,...,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",An English Duke from 1876 is inadvertedly drag...,6.4,77852,$ 48000000,$ 47121859,$ 76019048,44.0,341.0,115.0
14260,tt0065134,Gli avvoltoi hanno fame,Two Mules for Sister Sara,1970,1970-12-05,"Adventure, Romance, War",116,"USA, Mexico","English, Spanish, French, Latin",Don Siegel,...,"Shirley MacLaine, Clint Eastwood, Manolo Fábre...",Nun Sara (Shirley MacLaine) is on the run in M...,7.0,23223,$ 2500000,$ 5050000,$ 5050000,62.0,79.0,39.0
14323,tt0065377,Airport,Airport,1970,1970-03-25,"Action, Drama, Thriller",137,USA,"English, Italian","George Seaton, Henry Hathaway",...,"Burt Lancaster, Dean Martin, Jean Seberg, Jacq...","A bomber on board an airplane, an airport almo...",6.6,17068,$ 10000000,$ 100489151,$ 100489151,42.0,188.0,82.0
14340,tt0065421,Gli Aristogatti,The AristoCats,1970,1971-11-13,"Animation, Adventure, Comedy",78,USA,English,Wolfgang Reitherman,...,"Phil Harris, Eva Gabor, Sterling Holloway, Sca...","With the help of a smooth talking tomcat, a fa...",7.1,91085,$ 4000000,$ 35452658,$ 35459543,66.0,141.0,113.0
14357,tt0065462,L'altra faccia del pianeta delle scimmie,Beneath the Planet of the Apes,1970,1970-04-23,"Action, Adventure, Sci-Fi",95,USA,English,Ted Post,...,"James Franciscus, Kim Hunter, Maurice Evans, L...",The sole survivor of an interplanetary rescue ...,6.1,41159,$ 3000000,$ 18999718,$ 18999718,46.0,182.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85266,tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,2020-02-28,Comedy,92,USA,English,Chris Henchy,...,"Paula Abdul, Joe Gatto, James Murray, Brian Qu...",The story of a humiliating high school mishap ...,5.9,4105,$ 3000000,$ 10691091,$ 10691091,39.0,152.0,17.0
85274,tt9214832,Emma.,Emma.,2020,2020-03-27,"Comedy, Drama",124,UK,English,Autumn de Wilde,...,"Anya Taylor-Joy, Angus Imrie, Letty Thomas, Ge...","In 1800s England, a well meaning but selfish y...",6.7,19858,$ 10000000,$ 10055355,$ 25659965,71.0,314.0,188.0
85397,tt9354944,Jexi,Jexi,2019,2019-10-11,"Comedy, Romance",84,"USA, Canada",English,"Jon Lucas, Scott Moore",...,"Adam Devine, Alexandra Shipp, Rose Byrne, Ron ...",A comedy about what can happen when you love y...,6.1,17038,$ 5000000,$ 6546159,$ 9341824,39.0,234.0,42.0
85460,tt9426210,Weathering with You,Tenki no ko,2019,2019-10-14,"Animation, Drama, Family",112,"Japan, China",Japanese,Makoto Shinkai,...,"Kotaro Daigo, Nana Mori, Shun Oguri, Sei Hirai...",A high-school boy who has run away to Tokyo be...,7.6,16277,$ 11100000,$ 7798743,$ 193176979,72.0,177.0,110.0
85740,tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020-03-19,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,"K.J. Apa, Britt Robertson, Nathan Parsons, Gar...",The true-life story of Christian music star Je...,6.5,6196,$ 12000000,$ 9868521,$ 13681524,41.0,151.0,52.0

In [22]:
movies.sort_values(by=['year'])
movies

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
4334,tt0035423,Kate & Leopold,Kate & Leopold,2001,2002-03-01,"Comedy, Fantasy, Romance",118,USA,"English, French",James Mangold,...,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",An English Duke from 1876 is inadvertedly drag...,6.4,77852,$ 48000000,$ 47121859,$ 76019048,44.0,341.0,115.0
14260,tt0065134,Gli avvoltoi hanno fame,Two Mules for Sister Sara,1970,1970-12-05,"Adventure, Romance, War",116,"USA, Mexico","English, Spanish, French, Latin",Don Siegel,...,"Shirley MacLaine, Clint Eastwood, Manolo Fábre...",Nun Sara (Shirley MacLaine) is on the run in M...,7.0,23223,$ 2500000,$ 5050000,$ 5050000,62.0,79.0,39.0
14323,tt0065377,Airport,Airport,1970,1970-03-25,"Action, Drama, Thriller",137,USA,"English, Italian","George Seaton, Henry Hathaway",...,"Burt Lancaster, Dean Martin, Jean Seberg, Jacq...","A bomber on board an airplane, an airport almo...",6.6,17068,$ 10000000,$ 100489151,$ 100489151,42.0,188.0,82.0
14340,tt0065421,Gli Aristogatti,The AristoCats,1970,1971-11-13,"Animation, Adventure, Comedy",78,USA,English,Wolfgang Reitherman,...,"Phil Harris, Eva Gabor, Sterling Holloway, Sca...","With the help of a smooth talking tomcat, a fa...",7.1,91085,$ 4000000,$ 35452658,$ 35459543,66.0,141.0,113.0
14357,tt0065462,L'altra faccia del pianeta delle scimmie,Beneath the Planet of the Apes,1970,1970-04-23,"Action, Adventure, Sci-Fi",95,USA,English,Ted Post,...,"James Franciscus, Kim Hunter, Maurice Evans, L...",The sole survivor of an interplanetary rescue ...,6.1,41159,$ 3000000,$ 18999718,$ 18999718,46.0,182.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85266,tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,2020-02-28,Comedy,92,USA,English,Chris Henchy,...,"Paula Abdul, Joe Gatto, James Murray, Brian Qu...",The story of a humiliating high school mishap ...,5.9,4105,$ 3000000,$ 10691091,$ 10691091,39.0,152.0,17.0
85274,tt9214832,Emma.,Emma.,2020,2020-03-27,"Comedy, Drama",124,UK,English,Autumn de Wilde,...,"Anya Taylor-Joy, Angus Imrie, Letty Thomas, Ge...","In 1800s England, a well meaning but selfish y...",6.7,19858,$ 10000000,$ 10055355,$ 25659965,71.0,314.0,188.0
85397,tt9354944,Jexi,Jexi,2019,2019-10-11,"Comedy, Romance",84,"USA, Canada",English,"Jon Lucas, Scott Moore",...,"Adam Devine, Alexandra Shipp, Rose Byrne, Ron ...",A comedy about what can happen when you love y...,6.1,17038,$ 5000000,$ 6546159,$ 9341824,39.0,234.0,42.0
85460,tt9426210,Weathering with You,Tenki no ko,2019,2019-10-14,"Animation, Drama, Family",112,"Japan, China",Japanese,Makoto Shinkai,...,"Kotaro Daigo, Nana Mori, Shun Oguri, Sei Hirai...",A high-school boy who has run away to Tokyo be...,7.6,16277,$ 11100000,$ 7798743,$ 193176979,72.0,177.0,110.0
85740,tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020-03-19,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,"K.J. Apa, Britt Robertson, Nathan Parsons, Gar...",The true-life story of Christian music star Je...,6.5,6196,$ 12000000,$ 9868521,$ 13681524,41.0,151.0,52.0

In [23]:
movies.to_csv('Output/imbd_movies_cleaned.csv', index=False, header=True)