In [1]:
# Import Dependencies
import pandas as pd

In [18]:
goldeng_csv = 'Output/goldeng_cleaned.csv'
oscars_csv = 'Output/oscar_cleaned.csv'
imbdb_csv = 'Output/imbd_movies_cleaned.csv'

In [4]:
goldeng_df = pd.read_csv(goldeng_csv)
oscars_df = pd.read_csv(oscars_csv)

In [23]:
goldeng_film = goldeng_df.rename(columns={'nominee': 'Nominee Name', 'film': 'Film Title'})
goldeng_film

,Award Ceremony,year_film,year_award,ceremony,category,Nominee Name,Film Title,win
0,Golden Globes,1970,1971,28,Best Performance by an Actress in a Motion Pic...,Ali MacGraw,Love Story,True
1,Golden Globes,1970,1971,28,Best Performance by an Actress in a Motion Pic...,Faye Dunaway,Puzzle of a Downfall Child,False
2,Golden Globes,1970,1971,28,Best Performance by an Actress in a Motion Pic...,Glenda Jackson,Women In Love,False
3,Golden Globes,1970,1971,28,Best Performance by an Actress in a Motion Pic...,Melina Mercouri,Promise at Dawn,False
4,Golden Globes,1970,1971,28,Best Performance by an Actress in a Motion Pic...,Sarah Miles,Ryan's Daughter,False
...,...,...,...,...,...,...,...,...
4913,Golden Globes,2019,2020,77,Best Performance by an Actor in a Supporting R...,Stellan Skarsgård,Chernobyl,True
4914,Golden Globes,2019,2020,77,Best Performance by an Actor in a Supporting R...,Alan Arkin,"Kominsky Method, The",False
4915,Golden Globes,2019,2020,77,Best Performance by an Actor in a Supporting R...,Kieran Culkin,Succession,False
4916,Golden Globes,2019,2020,77,Best Performance by an Actor in a Supporting R...,Andrew Scott,Fleabag,False
4917,Golden Globes,2019,2020,77,Best Performance by an Actor in a Supporting R...,Henry Winkler,Barry,False

In [24]:
oscars_df

,Award Ceremony,Year,Award Category,Nominee Name,Film Title,Win
0,Oscars,1970,ACTOR,Melvyn Douglas,I Never Sang for My Father,False
1,Oscars,1970,ACTOR,James Earl Jones,The Great White Hope,False
2,Oscars,1970,ACTOR,Jack Nicholson,Five Easy Pieces,False
3,Oscars,1970,ACTOR,Ryan O'Neal,Love Story,False
4,Oscars,1970,ACTOR,George C. Scott,Patton,True
...,...,...,...,...,...,...
5482,Oscars,2019,WRITING (Original Screenplay),Written by Rian Johnson,Knives Out,False
5483,Oscars,2019,WRITING (Original Screenplay),Written by Noah Baumbach,Marriage Story,False
5484,Oscars,2019,WRITING (Original Screenplay),Written by Sam Mendes & Krysty Wilson-Cairns,1917,False
5485,Oscars,2019,WRITING (Original Screenplay),Written by Quentin Tarantino,Once upon a Time...in Hollywood,False
5486,Oscars,2019,WRITING (Original Screenplay),"Screenplay by Bong Joon Ho, Han Jin Won; Story...",Parasite,True

In [25]:
oscars_gg = pd.merge(goldeng_film, oscars_df, how='outer', on='Nominee Name')
oscars_gg

,Award Ceremony_x,year_film,year_award,ceremony,category,Nominee Name,Film Title_x,win,Award Ceremony_y,Year,Award Category,Film Title_y,Win
0,Golden Globes,1970.0,1971.0,28.0,Best Performance by an Actress in a Motion Pic...,Ali MacGraw,Love Story,True,Oscars,1970.0,ACTRESS,Love Story,False
1,Golden Globes,1970.0,1971.0,28.0,Best Performance by an Actress in a Motion Pic...,Faye Dunaway,Puzzle of a Downfall Child,False,Oscars,1974.0,ACTRESS,Chinatown,False
2,Golden Globes,1970.0,1971.0,28.0,Best Performance by an Actress in a Motion Pic...,Faye Dunaway,Puzzle of a Downfall Child,False,Oscars,1976.0,ACTRESS IN A LEADING ROLE,Network,True
3,Golden Globes,1974.0,1975.0,32.0,Best Performance by an Actress in a Motion Pic...,Faye Dunaway,Chinatown,False,Oscars,1974.0,ACTRESS,Chinatown,False
4,Golden Globes,1974.0,1975.0,32.0,Best Performance by an Actress in a Motion Pic...,Faye Dunaway,Chinatown,False,Oscars,1976.0,ACTRESS IN A LEADING ROLE,Network,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14864,NaN,NaN,NaN,NaN,NaN,Written for the screen by Greta Gerwig,NaN,NaN,Oscars,2019.0,WRITING (Adapted Screenplay),Little Women,False
14865,NaN,NaN,NaN,NaN,NaN,Written by Anthony McCarten,NaN,NaN,Oscars,2019.0,WRITING (Adapted Screenplay),The Two Popes,False
14866,NaN,NaN,NaN,NaN,NaN,Written by Rian Johnson,NaN,NaN,Oscars,2019.0,WRITING (Original Screenplay),Knives Out,False
14867,NaN,NaN,NaN,NaN,NaN,Written by Sam Mendes & Krysty Wilson-Cairns,NaN,NaN,Oscars,2019.0,WRITING (Original Screenplay),1917,False
14868,NaN,NaN,NaN,NaN,NaN,"Screenplay by Bong Joon Ho, Han Jin Won; Story...",NaN,NaN,Oscars,2019.0,WRITING (Original Screenplay),Parasite,True

In [26]:
merge_og = oscars_gg.dropna(how='any')
merge_og

,Award Ceremony_x,year_film,year_award,ceremony,category,Nominee Name,Film Title_x,win,Award Ceremony_y,Year,Award Category,Film Title_y,Win
0,Golden Globes,1970.0,1971.0,28.0,Best Performance by an Actress in a Motion Pic...,Ali MacGraw,Love Story,True,Oscars,1970.0,ACTRESS,Love Story,False
1,Golden Globes,1970.0,1971.0,28.0,Best Performance by an Actress in a Motion Pic...,Faye Dunaway,Puzzle of a Downfall Child,False,Oscars,1974.0,ACTRESS,Chinatown,False
2,Golden Globes,1970.0,1971.0,28.0,Best Performance by an Actress in a Motion Pic...,Faye Dunaway,Puzzle of a Downfall Child,False,Oscars,1976.0,ACTRESS IN A LEADING ROLE,Network,True
3,Golden Globes,1974.0,1975.0,32.0,Best Performance by an Actress in a Motion Pic...,Faye Dunaway,Chinatown,False,Oscars,1974.0,ACTRESS,Chinatown,False
4,Golden Globes,1974.0,1975.0,32.0,Best Performance by an Actress in a Motion Pic...,Faye Dunaway,Chinatown,False,Oscars,1976.0,ACTRESS IN A LEADING ROLE,Network,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10801,Golden Globes,2018.0,2019.0,76.0,Best Original Score - Motion Picture,Marc Shaiman,Mary Poppins Returns,False,Oscars,2018.0,MUSIC (Original Score),Mary Poppins Returns,False
10818,Golden Globes,2019.0,2020.0,77.0,Best Performance by an Actress in a Motion Pic...,Cynthia Erivo,Harriet,False,Oscars,2019.0,ACTRESS IN A LEADING ROLE,Harriet,False
10825,Golden Globes,2019.0,2020.0,77.0,Best Director - Motion Picture,Bong Joon Ho,Parasite,False,Oscars,2019.0,DIRECTING,Parasite,True
10826,Golden Globes,2019.0,2020.0,77.0,Best Director - Motion Picture,Todd Phillips,Joker,False,Oscars,2019.0,DIRECTING,Joker,False
10834,Golden Globes,2019.0,2020.0,77.0,Best Original Score - Motion Picture,Hildur Guðnadóttir,Joker,True,Oscars,2019.0,MUSIC (Original Score),Joker,True

In [27]:
imbd_df = pd.read_csv(imbdb_csv)
imbd_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0035423,Kate & Leopold,Kate & Leopold,2001,2002-03-01,"Comedy, Fantasy, Romance",118,USA,"English, French",James Mangold,...,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",An English Duke from 1876 is inadvertedly drag...,6.4,77852,$ 48000000,$ 47121859,$ 76019048,44.0,341.0,115.0
1,tt0065134,Gli avvoltoi hanno fame,Two Mules for Sister Sara,1970,1970-12-05,"Adventure, Romance, War",116,"USA, Mexico","English, Spanish, French, Latin",Don Siegel,...,"Shirley MacLaine, Clint Eastwood, Manolo Fábre...",Nun Sara (Shirley MacLaine) is on the run in M...,7.0,23223,$ 2500000,$ 5050000,$ 5050000,62.0,79.0,39.0
2,tt0065377,Airport,Airport,1970,1970-03-25,"Action, Drama, Thriller",137,USA,"English, Italian","George Seaton, Henry Hathaway",...,"Burt Lancaster, Dean Martin, Jean Seberg, Jacq...","A bomber on board an airplane, an airport almo...",6.6,17068,$ 10000000,$ 100489151,$ 100489151,42.0,188.0,82.0
3,tt0065421,Gli Aristogatti,The AristoCats,1970,1971-11-13,"Animation, Adventure, Comedy",78,USA,English,Wolfgang Reitherman,...,"Phil Harris, Eva Gabor, Sterling Holloway, Sca...","With the help of a smooth talking tomcat, a fa...",7.1,91085,$ 4000000,$ 35452658,$ 35459543,66.0,141.0,113.0
4,tt0065462,L'altra faccia del pianeta delle scimmie,Beneath the Planet of the Apes,1970,1970-04-23,"Action, Adventure, Sci-Fi",95,USA,English,Ted Post,...,"James Franciscus, Kim Hunter, Maurice Evans, L...",The sole survivor of an interplanetary rescue ...,6.1,41159,$ 3000000,$ 18999718,$ 18999718,46.0,182.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6520,tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,2020-02-28,Comedy,92,USA,English,Chris Henchy,...,"Paula Abdul, Joe Gatto, James Murray, Brian Qu...",The story of a humiliating high school mishap ...,5.9,4105,$ 3000000,$ 10691091,$ 10691091,39.0,152.0,17.0
6521,tt9214832,Emma.,Emma.,2020,2020-03-27,"Comedy, Drama",124,UK,English,Autumn de Wilde,...,"Anya Taylor-Joy, Angus Imrie, Letty Thomas, Ge...","In 1800s England, a well meaning but selfish y...",6.7,19858,$ 10000000,$ 10055355,$ 25659965,71.0,314.0,188.0
6522,tt9354944,Jexi,Jexi,2019,2019-10-11,"Comedy, Romance",84,"USA, Canada",English,"Jon Lucas, Scott Moore",...,"Adam Devine, Alexandra Shipp, Rose Byrne, Ron ...",A comedy about what can happen when you love y...,6.1,17038,$ 5000000,$ 6546159,$ 9341824,39.0,234.0,42.0
6523,tt9426210,Weathering with You,Tenki no ko,2019,2019-10-14,"Animation, Drama, Family",112,"Japan, China",Japanese,Makoto Shinkai,...,"Kotaro Daigo, Nana Mori, Shun Oguri, Sei Hirai...",A high-school boy who has run away to Tokyo be...,7.6,16277,$ 11100000,$ 7798743,$ 193176979,72.0,177.0,110.0
6524,tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020-03-19,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,"K.J. Apa, Britt Robertson, Nathan Parsons, Gar...",The true-life story of Christian music star Je...,6.5,6196,$ 12000000,$ 9868521,$ 13681524,41.0,151.0,52.0

In [32]:
imbd_df = imbd_df.rename(columns={'Film': 'Film Title'})
imbd_df

,imdb_title_id,Film Title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0035423,Kate & Leopold,Kate & Leopold,2001,2002-03-01,"Comedy, Fantasy, Romance",118,USA,"English, French",James Mangold,...,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",An English Duke from 1876 is inadvertedly drag...,6.4,77852,$ 48000000,$ 47121859,$ 76019048,44.0,341.0,115.0
1,tt0065134,Gli avvoltoi hanno fame,Two Mules for Sister Sara,1970,1970-12-05,"Adventure, Romance, War",116,"USA, Mexico","English, Spanish, French, Latin",Don Siegel,...,"Shirley MacLaine, Clint Eastwood, Manolo Fábre...",Nun Sara (Shirley MacLaine) is on the run in M...,7.0,23223,$ 2500000,$ 5050000,$ 5050000,62.0,79.0,39.0
2,tt0065377,Airport,Airport,1970,1970-03-25,"Action, Drama, Thriller",137,USA,"English, Italian","George Seaton, Henry Hathaway",...,"Burt Lancaster, Dean Martin, Jean Seberg, Jacq...","A bomber on board an airplane, an airport almo...",6.6,17068,$ 10000000,$ 100489151,$ 100489151,42.0,188.0,82.0
3,tt0065421,Gli Aristogatti,The AristoCats,1970,1971-11-13,"Animation, Adventure, Comedy",78,USA,English,Wolfgang Reitherman,...,"Phil Harris, Eva Gabor, Sterling Holloway, Sca...","With the help of a smooth talking tomcat, a fa...",7.1,91085,$ 4000000,$ 35452658,$ 35459543,66.0,141.0,113.0
4,tt0065462,L'altra faccia del pianeta delle scimmie,Beneath the Planet of the Apes,1970,1970-04-23,"Action, Adventure, Sci-Fi",95,USA,English,Ted Post,...,"James Franciscus, Kim Hunter, Maurice Evans, L...",The sole survivor of an interplanetary rescue ...,6.1,41159,$ 3000000,$ 18999718,$ 18999718,46.0,182.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6520,tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,2020-02-28,Comedy,92,USA,English,Chris Henchy,...,"Paula Abdul, Joe Gatto, James Murray, Brian Qu...",The story of a humiliating high school mishap ...,5.9,4105,$ 3000000,$ 10691091,$ 10691091,39.0,152.0,17.0
6521,tt9214832,Emma.,Emma.,2020,2020-03-27,"Comedy, Drama",124,UK,English,Autumn de Wilde,...,"Anya Taylor-Joy, Angus Imrie, Letty Thomas, Ge...","In 1800s England, a well meaning but selfish y...",6.7,19858,$ 10000000,$ 10055355,$ 25659965,71.0,314.0,188.0
6522,tt9354944,Jexi,Jexi,2019,2019-10-11,"Comedy, Romance",84,"USA, Canada",English,"Jon Lucas, Scott Moore",...,"Adam Devine, Alexandra Shipp, Rose Byrne, Ron ...",A comedy about what can happen when you love y...,6.1,17038,$ 5000000,$ 6546159,$ 9341824,39.0,234.0,42.0
6523,tt9426210,Weathering with You,Tenki no ko,2019,2019-10-14,"Animation, Drama, Family",112,"Japan, China",Japanese,Makoto Shinkai,...,"Kotaro Daigo, Nana Mori, Shun Oguri, Sei Hirai...",A high-school boy who has run away to Tokyo be...,7.6,16277,$ 11100000,$ 7798743,$ 193176979,72.0,177.0,110.0
6524,tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020-03-19,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,"K.J. Apa, Britt Robertson, Nathan Parsons, Gar...",The true-life story of Christian music star Je...,6.5,6196,$ 12000000,$ 9868521,$ 13681524,41.0,151.0,52.0

In [34]:
all_merge = pd.merge(oscars_gg, imbd_df, how='inner', on='Film Title')
all_merge

KeyError: 'Film Title'

In [ ]:
# frames = [df1, df2, df3]
# result = pd.concat(frames)

frames = [goldeng_film, oscars_gg, ]